<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/heyixiaoran/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="heyixiaoran" />
            <add key="ClearTextPassword" value="ca31776abcdee8603c8c25b5f04aed42fbdd174c" />
        </github>
    </packageSourceCredentials>
</configuration>
